$def with (failed, state)

$if failed:
    $if state == 'wait_approval':
        <div>
            The Admin has not yet approved your account<br>Please wait for approval.
        </div>
    $elif state == 'user_exists':
        <div>
            Sorry your password is <em>not correct<em>.<br> Make sure to type you password correctly.
        </div>
    $else:
        <div>
            Sorry <em>user not found<em>. Sign up <a href="/signup">here</a>
        </div>


$if state == 'login_ok':

    <div>
        Log in completed. You are the admin!<br><br>

        Please proceed to summary page by clicking <a href='/adminsummary'>here</a><br>

        Please proceed to your bookings by clicking <a href='/book'>here</a><br>
    </div>

$elif state == 'double':
    <div>
        You are already logged in!
        If you want to log out click <a href="/reset">here</a>
    </div>
$else:
    <div>
        <form action="/login" method="POST">
            <table id="login">
                <tr>
                    <td>User: </td>
                    <td><input type="text" name="user"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="passwd"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="LOGIN"></td>
                </tr>
            </table>
        </form>
    </div>

